/* ========================================================================
 * Paragraphs
 * ======================================================================== */

@require 'base'
@require 'paragraphs'
@require 'helpers'


/**
 * Styles
 * ======================================================================== */

// Headings
h1,
h2,
h3,
h4,
h5,
h6
    /.{$typography_prefix}h,
    &
        @extends .{$typography_prefix}p

        display block

        font-weight: $font_weight.normal
        line-height $base_line_height_ratio
        text-rendering optimizeLegibility
        vertical-align baseline

        color inherit

    /.{$typography_prefix}h{$bem_es}secondary,
    & small
        font-size 65%
        font-weight normal

        opacity th_color(text, secondary)


for $i in ('1' '2' '3' '4' '5' '6')
    .{$typography_prefix}h{$bem_ms}{$i},
    h{$i}
        font-size: $font_size[$i]
        line-height $base_line_height_ratio



5,
6
    .{$typography_prefix}h{$bem_ms}&,
    h&
        @extends .{$typography_prefix}ucase

        font-weight: $font_weight.bold


// Headig classes
.{$typography_prefix}h{$bem_ms}
    &mega
        font-size: $font_size.mega
        line-height $base_line_height_ratio

    &giant
        font-size: $font_size.giant
        line-height $base_line_height_ratio

    &big
        font-size: $font_size.big
        line-height $base_line_height_ratio

    &headline
        font-size: $font_size.headline
        line-height $base_line_height_ratio

    &title
        font-size: $font_size.title
        font-weight: $font_weight.medium
        line-height $base_line_height_ratio

    &subhead
        font-size: $font_size.subhead
        line-height $base_line_height_ratio

    &body
        font-size: $font_size.body
        font-weight: $font_weight.medium
        line-height $base_line_height_ratio

    &caption
        @extends .{$typography_prefix}ucase

        font-size: $font_size.caption
        line-height $base_line_height_ratio