/**
 * Base variables
 * ======================================================================== */

DEBUG             = false
DPI               = 72
DIRECTION         = ltr
PI                = 3.141592653589793

$path_font        = '../font/'
$path_img         = '../img/'


$root_font_size           ?= 16px

$base_font_size           ?= 16px
$base_line_height_ratio   ?= 1.5
$base_line_height         ?= floor($base_line_height_ratio * $base_font_size)

$base_font_families       = {}
$base_font_families.sans  = 'Helvetica Neue', 'Helvetica Arial', sans-serif
$base_font_families.serif = 'Georgia', 'Times New Roman', 'Times', serif
$base_font_families.mono  = 'Consolas', 'Courier New', monospace


/**
 * 16px size bases typography font sizes
 * 12, 14, 16, 20 and 34
 */
//Base sizes
$font_size       = {
    '6':       .75rem    // 12px
    '5':       .875rem   // 14px
    '4':       1rem      // 16px
    '3':       1.25rem   // 20px
    '2':       1.5rem    // 24px
    '1':       2.125rem  // 34px

    'none':    0         // 0
    'big':     2.625rem  // 42px
    'giant':   3.5rem    // 56px
    'mega':    6rem      // 96px
}

// Aliases
$font_size = extend({
    'small':      $font_size['6']
    'body':       $font_size['5']
    'medium':     $font_size['5']
    'regular':    $font_size['5']
    'caption':    $font_size['6']
    'subhead':    $font_size['4']
    'lead':       $font_size['4']
    'title':      $font_size['3']
    'headline':   $font_size['1']

    'n':          $font_size.none
    's':          $font_size['6']
    'l':          $font_size.big
    'xl':         $font_size.giant
    'xxl':        $font_size.mega
}, $font_size)


/**
 * Font weights
 */
$font_weight = {
    thin:         100
    xlight:       200
    extra_light:  200
    light:        300
    book:         400
    normal:       400
    medium:       500
    demi_bold:    600
    semi_bold:    600
    semibold:     600
    bold:         700
    heavy:        800
    black:        900

    bolder:       bolder
    lighter:      lighter
}


/**
 * Font Families
 */
$font_family = {
    primary:   $base_font_families.sans
    secondary: $base_font_families.sans
    heading:   $base_font_families.sans
    mono:      $base_font_families.mono
}


/**
 * Line heights
 */
$line_height = {
    body:    $base_line_height_ratio
    heading: 1.3
}


/**
 * Spacing size
 */
$space_start         = unit(4px / $base_font_size, 'rem')
$space_factor        = 2
$space_size_types    = ('xs' 's' 'm' 'l' 'x' 'xl' 'xxl')
$space               = {
    'line': unit($base_line_height_ratio * $font_size.body, 'rem')
}

for $_type, $_i in $space_size_types
    $space[$_type] = $space_start * ($space_factor ** $_i)


/**
 * Transitions
 */
$base_transition_function ?= ease
$base_transition_diration ?= .15s