/* ========================================================================
 * Modules config
 * ======================================================================== */

/**
 * Rapid
 * ======================================================================== */
$rapid_build       = true
$rapid_responsive = true


/**
 * Grid
 * ======================================================================== */
$grid_prefix       = ''
$grid_build        = true
$grid_responsive   = true