/* ========================================================================
 * Modules config
 * ======================================================================== */

/**
 * Rapid
 * ======================================================================== */
$rapid_build       = true
$rapid_responsive  = true

$rapid_colors_theme_build = $rapid_build


/**
 * Grid
 * ======================================================================== */
$grid_prefix       = ''
$grid_build        = true
$grid_responsive   = true