/* ========================================================================
 *
 * Folder Architecture
 *
 * - style.styl is where everything is @importe'd
 *
 * - modules/ is for modules or tools (such as icons)
 * - patterns/ is for global styles, buttons, forms
 * - components/ is for groups of patterns with small bits of layout
 * - layouts/ is where page layouts go and any page-specific changes to
 *   patterns and components
 *
 * ======================================================================== */

@require 'config'

@require 'modules/utils'
@require 'modules/color-palettes'

@require 'patterns/rapid'
@require 'patterns/grid'

@require 'theme'

