@require '../modules/utils/atom/reset'

/**
 * Styles
 * ======================================================================== */

normalize-css()
clean()

html
    font-size:   $root_font_size

body
    font-family: $font_family.primary
    font-size:   $font_size.body
    line-height: $line_height.body

+text-selection()
    background-color: rgba($th.color.highlight, .35)

scrollbar-add()