/**
 * Variables
 * ======================================================================== */

$color_pallets  = extend({}, $color_pallets)


/**
 * Palettes list
 * ======================================================================== */

@require 'clrs'
@require 'flat-ui'
@require 'material-design'