/* ========================================================================
 *
 * Font size
 *
 * Legend:
 *
 * fs = font-size
 *
 * n = 0
 * xs = extra small
 * 1, 2, 3, 4, 5 - heading font sizes
 * xl = extra large
 * xxl = extra extra large
 *
 * Inspired by: https://www.npmjs.com/package/tachyons-type-scale
 *
 * ======================================================================== */

@require 'utility'

/**
 * Variables
 * ======================================================================== */

$rapid_font-size_prefix     ?= ''
$rapid_font-size_responsive ?= false
$rapid_font-size_build      ?= false

$rapid_font-size_properties  = extend({
        'fs': {
            '': ('font-size')
        },
    }, $rapid_font-size_properties)


/**
 * 16px size bases typography font sizes
 * 12, 14, 16, 20 and 34
 */
//Base sizes
$rapid_font-size_sizes       = {
    '6':       .75rem    // 12px
    '5':       .875rem   // 14px
    '4':       1rem      // 16px
    '3':       1.25rem   // 20px
    '2':       1.5rem    // 24px
    '1':       2.125rem  // 34px

    'none':    0         // 0
    'big':     2.625rem  // 42px
    'giant':   3.5rem    // 56px
    'mega':    6rem      // 96px
}

// Aliases
$rapid_font-size_sizes = extend({
    'small':      $rapid_font-size_sizes['6']
    'body':       $rapid_font-size_sizes['5']
    'medium':     $rapid_font-size_sizes['5']
    'regular':    $rapid_font-size_sizes['5']
    'caption':    $rapid_font-size_sizes['6']
    'subhead':    $rapid_font-size_sizes['4']
    'lead':       $rapid_font-size_sizes['4']
    'title':      $rapid_font-size_sizes['3']
    'headline':   $rapid_font-size_sizes['1']

    'n':          $rapid_font-size_sizes.none
    's':          $rapid_font-size_sizes['6']
    'l':          $rapid_font-size_sizes.big
    'xl':         $rapid_font-size_sizes.giant
    'xxl':        $rapid_font-size_sizes.mega
}, $rapid_font-size_sizes)


/**
 * Mixins
 * ======================================================================== */

rapid-font-size-build($responsive=$rapid_font-size_responsive)
    $template = rapid_default_template()

    rapid-property-assort($rapid_font-size_properties, $rapid_font-size_sizes,
        $template, $responsive)


if $rapid_font-size_build
    .{$rapid_font-size_prefix}
        rapid-font-size-build()