/* ========================================================================
 *
 * Font size
 *
 * Legend:
 *
 * fs = font-size
 *
 * n = 0
 * xs = extra small
 * 1, 2, 3, 4, 5 - heading font sizes
 * xl = extra large
 * xxl = extra extra large
 *
 * Inspired by: https://www.npmjs.com/package/tachyons-type-scale
 *
 * ======================================================================== */

@require 'utility'

/**
 * Variables
 * ======================================================================== */

$rapid_font-size_prefix     ?= ''
$rapid_font-size_responsive ?= false
$rapid_font-size_build      ?= false

$rapid_font-size_properties  = extend({
        'fs': {
            '': ('font-size')
        },
    }, $rapid_font-size_properties)

$rapid_font-size_sizes       = {
    'n': 0
    's': .85rem
    '5': 1rem
    '4': 1rem
    '3': 1.25rem
    '2': 1.5rem
    '1': 2rem
    'xl': 4rem
    'xxl': 6rem
}


/**
 * Mixins
 * ======================================================================== */

rapid-font-size-build($responsive=$rapid_font-size_responsive)
    $template = rapid_default_template()

    rapid-property-assort($rapid_font-size_properties, $rapid_font-size_sizes,
        $template, $responsive)


if $rapid_font-size_build
    .{$rapid_font-size_prefix}
        rapid-font-size-build()